
<!DOCTYPE html>
<html>
{include file="common/doc" /}
<body class="page-login">
<link rel="stylesheet" href="/static/css/login.css">

<div class="container">
    <div class="main">
        <div class="clearfix">
            <div class="pull-left">
                <div class="alink alink-regist">
                    <h2>新人专享福利</h2>
                    <p>注册加导师送500流量币</p>
                </div>
            </div>
            <div class="pull-right">
                <div class="login-box">
                    <div class="login-title">
                        <a class="logo"></a>
                        <h1>注册账号</h1>
                    </div>
                    <div class="ll-form" id="appCtrl">
                        <form class="WL_FORM">
                            <div class="ll-form-body">
                                <div class="ll-form-group">
                                    <div class="ll-form-content">
                                        <input name="phone" placeholder="手机号" maxlength="11" type="tel" class="ll-form-input" >
                                        <i class="icon icon-mobile"></i>
                                    </div>
                                </div>
                                <div class="ll-form-group">
                                    <div class="ll-form-content">
                                        <div class="ll-input-group">
                                            <input type="tel" name="code" placeholder="验证码" maxlength="6" class="ll-form-input" >
                                            <a  class="ll-input-group-addon send_code"  style="white-space: nowrap;cursor: pointer;" disable='false'>发送</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ll-form-group">
                                    <div class="ll-form-content">
                                        <input placeholder="登录密码" id="password" name="pwd" type="password" maxlength="16" class="ll-form-input" >
                                        <i class="icon icon-key"></i>
                                    </div>
                                </div>
                                <div class="ll-form-group">
                                    <div class="ll-form-content">
                                        <input maxlength="16" placeholder="确认密码" name="repassword" type="password" class="ll-form-input" >
                                        <i class="icon icon-key"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ll-form-group">
                                <button type="submit" class="ll-btn" >注册送1000积分<span class="load-tips">注册中...</span></button>
                            </div>
                            <div class="ll-form-group ll-center">
                                已有账号？<a class="text-orange" href="{:url('free/login')}">点此登录</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-text">
    <h2>快速提升店铺流量</h2>
    <small>电商时代，流量为王，掌握了流量你就可以在行业称王称霸。</small>
</div>
<script>

    let form   =$('.WL_FORM')[0];
    $('.send_code').click(function(){
        let mobile   =$('input[name="phone"]').val();
        if (mobile == ''){
            alert('手机号不能为空');
        }
        let s =$(this).attr('disable');
            if (s == 'true'){
                return false;
            }

        $.post('sendAliDaYuAuthCode',{'phone':mobile},function(res){
            clearInterval(timer); //清除计时器
            var that = $('.send_code');
            that.attr('disable',true);
            var count = 60;
            var timer = setInterval(function(){
                if(count>0){
                    count--;
                    that.html("剩余时间"+ count +"s");
                }else{
                    that.html("重新发送短信");
                    that.attr('disable',false);
                    clearInterval(timer); //清除计时器
                }
            },1000);
        });
    });




    $('button[type="submit"]').click(function(){

        var params = $(".WL_FORM").serializeArray();
        var values = {};
        for (x in params) {
            values[params[x].name] = params[x].value;
        }
        $.post('register',values,function(res){
            if (res.code==0){
                //console.log(res);
                alert("注册成功");
              location.href = '/home/free/login';
            }else{
               alert(res.msg);
            }

        });
        return false;
    });


</script>
<!-- 底部开始 -->
{include file="common/footer" /}
<!-- 底部结束 -->

<!-- 客服窗口开始 -->
{include file="common/siderfixed" /}
</body>
</html>
