<!DOCTYPE html>
<html>
{include file="common/doc" /}
<body class="page-article">
{include file="common/nav" /}
<link rel="stylesheet" href="/static/css/article.css">
<div class="container">
    <div class="article-nav">
        <div class="main">
            <nav>
                {foreach name="cat" item="vo"}
                <a href="{:url($vo['control'].'\/'.$vo['method'],['column_id'=>$vo['column_id']])}" {if condition="input('column_id') == $vo.column_id"} class="active" {/if}>{$vo.column_name}</a>
                {/foreach}
            </nav>
        </div>
    </div>
    <div class="main clearfix">
        <div class="pull-left article-section">
            <div class="article-box article-list">
                <h2>{$cat[input('column_id')]['column_name']}</h2>
                <ul class='zx-list'>
                    {foreach name="article" item="vo"}
                    <li>
                        {if condition='!empty($vo["img"])'}
                        <a class="pic" href="{:url('article/detail',['article_id'=>$vo['article_id'],'column_id'=>$vo['column_id']])}" title="{$vo.title}">

                            <img src="{$vo.img}">
                        </a>
                        {/if}
                        <div class="info right">

                            <h3 class="title">
                                <a href="{:url('article/detail',['article_id'=>$vo['article_id'],'column_id'=>$vo['column_id']])}" class="fl" title="{$vo.title}">{$vo['article_title']}</a>
                                <span class="fr"></span>
                            </h3>
                            <p class="content">{$vo.article_intro}
                                <a href="{:url('article/detail',['article_id'=>$vo['article_id'],'column_id'=>$vo['column_id']])}" title="{$vo.title}">详情</a>
                            </p>
                            <div class="footer clearfix">
                             <!--       <div class="pull-left tags">

                                        <a href="/zixun/tags/59c8fd4f207712295c47c665/list_1.html" title="店铺引流">店铺引流</a>

                                        <a href="/zixun/tags/59cf8135374e979fb14ca625/list_1.html" title="店铺经营">店铺经营</a>

                                        <a href="/zixun/tags/59ca049b250b1e1380deea2e/list_1.html" title="淘宝">淘宝</a>

                                        <a href="/zixun/tags/59cf87984e96bbaadc0f34c1/list_1.html" title="站内引流">站内引流</a>

                                        <a href="/zixun/tags/59cf87e84e96bbaadc0f35a9/list_1.html" title="站外引流">站外引流</a>

                                        <a href="/zixun/tags/59cf8c924e96bbaadc0f3f23/list_1.html" title="网店经验">网店经验</a>

                                        <a href="/zixun/tags/59cb1003896f4ba03033efa0/list_1.html" title="网店运营">网店运营</a>

                                </div>-->
                                <div class="pull-right">
                                    {$vo.addtime}
                                </div>
                            </div>
                        </div>
                    </li>
                    {/foreach}
                </ul>
                <?php  echo $page ?>

            </div>

        </div>
<!--
        <div class="pull-right article-side">
            <div class="article-box" style="margin-bottom: 20px;">
                <div class="download-box">
                    <h2>豌豆网店优化<small>官方版</small></h2>
                    <ul>
                        <li>软件功能：提升店铺流量 / 收藏加购</li>
                        <li>软件大小：5.2 MB</li>
                        <li>更新时间：2019-08-30</li>
                        <li>
                            <span>用户评分：</span>
                            <i class="icon icon-star-o"></i>
                            <i class="icon icon-star-o"></i>
                            <i class="icon icon-star-o"></i>
                            <i class="icon icon-star-o"></i>
                            <i class="icon icon-star-o"></i>
                            <b class="text-orange">10</b>
                            <span>分</span>
                        </li>
                    </ul>
                    <div class="footer">
                        <a href="javascript:;" onclick="gotoDownload();" class="btn">
                            <div class="ico"></div>
                            <div class="text">
                                <span>立即下载</span>
                                <small>已有30万次下载</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            &lt;!&ndash; <div class="article-box">
                <div class="heixi-box">
                    <a href="javascript:;" class="title" title="黑犀电商工具箱"></a>
                    <a href="javascript:;" class="btn"><i></i><span>免费验号</span></a>
                </div>
            </div> &ndash;&gt;
            <div class="article-box">
                <div class="comment-box">
                    <h2>用户评价</h2>
                    <ul class="liuyan-list"></ul>
                </div>
            </div>
        </div>-->
    </div>
    <div class="article-footer main">
        <h2>专业的网店流量优化提升工具</h2>
        <small>我们致力于打造优质的店铺流量，增加店铺宝贝收藏加购，快速提升商品排名</small>
        <ul class="clearfix">
            <li>
                <div class="ico ico-head"></div>
                <h3>专业开发团队</h3>
                <p>专业领先的技术团队，倾力为你打造国内最安全稳定的流量提升平台</p>
            </li>
            <li>
                <div class="ico ico-site"></div>
                <h3>支持全流量平台</h3>
                <p>支持淘宝/天猫/京东/拼多多/等营销型电商平台，让网店营销更加高效</p>
            </li>
            <li>
                <div class="ico ico-client"></div>
                <h3>完美兼容多设备</h3>
                <p>可通过无线端、PC端搜索进店浏览，快速提升电脑、手机店铺流量</p>
            </li>
            <li>
                <div class="ico ico-safe"></div>
                <h3>一对一售后服务</h3>
                <p>专业手把手教学式售后服务解决一切电商难题</p>
            </li>
        </ul>
    </div>
</div>
<!-- 底部开始 -->
{include file='common/footer' /}
<!-- 底部结束 -->

<!-- 客服窗口开始 -->
{include file='common/siderfixed' /}
<!-- 客服窗口结束 -->
<!-- 脚本开始 -->


</body>
</html>
