{include file='common/doc'}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="table_list" lay-filter="table_list"></table>
            <script type="text/html" id="op_table">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
            <template id="table_toolbar">
                <div class="layui-btn-group">
                    <button type="button" lay-event="add" class="layui-btn layui-btn-primary layui-btn-sm">
                        <i class="layui-icon layui-icon-add-1"></i>
                    </button>
                </div>
            </template>
        </div>
    </div>
</div>
<div id="form_template" style="display: none">
    <form class="layui-form" action="" id="form" lay-filter="form" style="margin-top:10px;">
        <div class="layui-form-item">
            <label class="layui-form-label">参数别名</label>
            <div class="layui-input-inline">
                <input type="text" name="parameter_alias"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">api参数名称</label>
            <div class="layui-input-inline">
                <input type="text" name="parameter_name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="parameter_remakes" placeholder="请输入描述内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="form_submit">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
</body>
<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index' ,'table','treeSelect'] ,function () {
        var $ = layui.$
            ,form = layui.form
            ,treeSelect = layui.treeSelect
            ,table = layui.table;
        table.render({
            elem: '#table_list'
            ,height: 'full-50'
            ,toolbar: '#table_toolbar'
            ,url: 'read' //数据接口
            ,page: true //开启分页
            ,limit:20
            ,cols: [
                [ //表头
                    {type: 'checkbox' } ,
                    {type: 'numbers' ,title:'#'},
                    {field: 'parameter_alias',align:"center",width:150,title:'字段别名'},
                    {field: 'parameter_name' ,align:"center",width:150,title:'参数名称'}
                    ,{field: 'parameter_remakes' ,align:"center",title:'参数描述'}
                    ,{title: '操作' ,width: 150 ,align: 'center' ,fixed: 'right' ,toolbar: '#op_table'}
                ]
            ]
        });


        //头工具栏事件
        table.on('toolbar(table_list)' ,function (obj) {
            let event = obj.event;
            var checkStatus = table.checkStatus(obj.config.id);
            if (event == 'add') {
                layer.open({
                    type: 1 ,
                    title: false,
                    area: ['800px'] ,
                    content: $('#form_template').html() ,
                    success: function (lay ,index) {

                        form.render();
                        form.on('submit(form_submit)' ,function (obj) {
                            $.post('save' ,obj.field ,function (res){
                                if (res.code !== 0) {
                                    layer.msg(res.msg);
                                } else {
                                    layer.msg(res.msg);
                                    layer.close(index);
                                    table.reload('table_list');
                                }
                            });
                            return false;
                        });
                    }
                })
            }

        });

        table.on('tool(table_list)' ,function (obj) {
            let event = obj.event;
            console.log(event);
            if (event == 'edit') {
                layer.open({
                    type: 1 ,
                    title: false ,
                    area: ['800px'] ,
                    content: $('#form_template').html() ,
                    success: function (lay ,index) {
                        form.render();

                        form.val('form' ,obj.data);
                        form.on('submit(form_submit)' ,function (res) {
                            res.field['parameter_id'] = obj.data['parameter_id'];
                            $.post('upd' ,res.field ,function (res) {
                                if (res.code !== 0) {
                                    layer.msg(res.msg);
                                } else {
                                    layer.msg(res.msg);
                                    layer.close(index);
                                    table.reload('table_list');
                                }
                            });
                            return false;
                        });
                    }
                })
            }

            if (event == 'del') {

                $.post('del' ,{'parameter_id':obj.data['parameter_id']},function (res) {
                    obj.del();
                    layer.msg(res.msg);
                });
            }
        });
        table.on('edit(table_list)', function(obj){
            console.log(obj.data);
            $.post('upd' ,obj.data ,function (res) {
                if (res.code !== 0) {
                    layer.msg(res.msg);
                } else {
                    layer.msg(res.msg);
                }
            });
            return false;
        });
        /*搜索*/
        form.on('submit(search)' ,function (obj) {
            table.reload('table_list' ,{
                method: 'get' ,
                where: obj.field //设定异步数据接口的额外参数
            });
            return false;
        });
    });
</script>
</html>

