{include file='common/doc'}
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" style="display: none;">
            <form  class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="phone" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="search">搜索</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
            <table id="table_list" lay-filter="table_list"></table>
            <template id="table_toolbar">
                <div class="layui-btn-group">
                    <button type="button" lay-event="add" class="layui-btn layui-btn-primary layui-btn-sm">
                        <i class="layui-icon layui-icon-add-1"></i>
                    </button>
                    <button type="button" lay-event="search_sh" class="layui-btn layui-btn-primary layui-btn-sm">
                        <i class="layui-icon layui-icon-search "></i>
                    </button>
                </div>
            </template>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
</body>
<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index' ,'table'] ,function () {
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;
        table.render({
            elem: '#table_list'
            ,height: 'full-50'
            ,toolbar: '#table_toolbar'
            ,url: 'read' //数据接口
            ,page: true //开启分页
            ,limit:20
            ,cols: [
                [ //表头
                    {type: 'checkbox' ,fixed: 'left'}
                    ,{type: 'numbers' ,fixed: 'left'}
                    ,{field: 'level_name' ,align: "center" ,title: '会员级别'}
                    ,{field: 'phone' ,align: "center" ,title: '手机号'}
                    ,{field: 'currency' ,align: "center" ,title: '余额',sort:true,}
                    ,{field: 'pay_count' ,align: "center" ,title: '购买次数'}
                    ,{field: 'brokerage_price' ,align: "center" ,title: '佣金'}
                    ,{field: 'last_time' ,align: "center" ,title: '访问日期'}
                    ,{field: 'last_ip' ,align: "center" ,title: 'ip'}
                    ,{field: 'status' ,align: "center" ,title: '状态',templet(d){
                       return   d.status ==1  ? '<span>正常</span>' : '<span>禁用</span>'
                    }}

                    ,{title: '操作' ,width: 150 ,align: 'center' ,fixed: 'right' ,toolbar: '#op_table'}
                ]
            ]
        });
        //头工具栏事件
        table.on('toolbar(table_list)' ,function (obj) {
            let event = obj.event;
            var checkStatus = table.checkStatus(obj.config.id);
            if (event == 'add') {
                layer.open({
                    type: 1 ,
                    title: '用户编辑' ,
                    area: ['auto'] ,
                    content: $('#form_template_add').html() ,
                    success: function (lay ,index) {
                        form.render();
                        form.on('submit(form_submit)' ,function (obj) {
                            $.post('save' ,obj.field ,function (res) {
                                if (res.code !== 0) {
                                    layer.msg(res.msg);
                                } else {
                                    layer.msg(res.msg);
                                    layer.close(index);
                                    table.reload('table_list');
                                }
                            });
                            return false;
                        });
                    }
                })
            }
            if (event == 'search_sh') {
                $('.layui-card-header').toggle('slow');
            }
        });

        table.on('tool(table_list)' ,function (obj) {
            let event = obj.event;
            console.log(event);
            if (event == 'edit') {
                layer.open({
                    type: 1 ,
                    title: '用户编辑' ,
                    area: ['auto'] ,
                    content: $('#form_template_edit').html() ,
                    success: function (lay ,index) {
                        form.render();
                        form.val('form' ,obj.data);
                        form.on('submit(form_submit)' ,function (res) {
                            res.field['admin_id'] = obj.data['admin_id'];
                            $.post('upd' ,res.field ,function (res) {
                                if (res.code !== 0) {
                                    layer.msg(res.msg);
                                } else {
                                    layer.msg(res.msg);
                                    layer.close(index);
                                    table.reload('table_list');
                                }
                            });
                            return false;
                        });
                    }
                })
            }

            if (event == 'del') {
                $.post('del' ,obj.field ,function (res) {
                    obj.del();
                    layer.msg(res.msg);
                });
            }
        });
        /*搜索*/
        form.on('submit(search)' ,function (obj) {

            console.log(obj);

            table.reload('table_list' ,{
                method: 'get' ,
                where: {where:obj.field} //设定异步数据接口的额外参数
            });
            return false;
        });
    });
</script>
</html>

