<section class="home-screen" style="height: 930px;">
    <div class="s-bg" id="screenBg" style="height: 979px;"><canvas width="1920" height="930"></canvas></div>
    <script>(function(e,t,n,r,i,s){document[e](t)[n][r]=window[i]+s})("getElementById","screenBg","style","height","innerHeight","px")</script>
    <div class="s-brand">
        <ul class="s-brand-list">
            <li class="tmall"></li>
            <li class="taobao"></li>
            <li class="jingdong"></li>
            <li class="pinduoduo"></li>
        </ul>
    </div>
    <div class="s-cloud">
        <ul class="s-cloud-list">
            <li class="one"></li>
            <li class="two"></li>
            <li class="three"></li>
            <li class="four"></li>
        </ul>
    </div>
    <div class="s-huojian animated fadeInUpBig" style="animation-delay: 0.5s;">
        <img src="/static/img/huojian.gif" alt="">
    </div>
    <div class="s-title" data-animate="animated lightSpeedIn"></div>
    <div class="s-desc" data-animate="animated bounceInLeft"></div>
    <div class="s-btn">
        <a data-animate="animated bounceIn" style="animation-delay: 1.5s;" class="btn btn-lg btn-shadow" href="https://www.lieliu.com/login.html">免费体验</a>
    </div>
    <div class="s-direct">
        <a href="https://www.lieliu.com/#">
            <div class="mouse-icon">
                <div class="wheel-blue move1"></div>
                <div class="wheel-blue move2"></div>
                <div class="wheel-blue move3"></div>
            </div>
        </a>
    </div>
</section>