<div class="sidefixed">
    <ul>
        <li>
            <i class="ico ico-kf"></i>
            <p>客服</p>
            <div class="info">
                <div class="show-kefu">
                    <div class="show-kefu-box">
                        <div class="code">
                            <div class="img-qq"></div>
                        </div>
                        <p class="qq">QQ:2022011381</p>
                        <a href="tencent://message/?uin=551169&Site=&Menu=yes" target="_blank" rel="nofollow" class="button">在线客服</a>
                        <p class="work-day">工作日：8:00-23:59</p>
                        <p class="phone">值班客服：18124260202</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <i class="ico ico-wx"></i>
            <p>微信</p>
            <div class="info">
                <div class="show-wx">
                    <div class="show-wx-box">
                        <h3>加豌豆电商客服微信</h3>
                        <h4>立即领取<b class="text-red">免费</b>干货方案</h4>
                        <div class="code">

                            <div class="img-wechat">
                                <img class="daoshi-qrcode" src="//mapp.alicdn.com/1567560760155zhpqINUOo6if2Gu.png" alt="">
                            </div>
                        </div>
                        <p><i class="icon icon-user text-orange"></i> <span class="daoshi-name">豌豆导师</span></p>
                        <p><i class="icon icon-weixin text-green"></i> <span>微信号：<span class="weixin">wx_wandoull</span></span></p>
                    </div>
                </div>
            </div>
        </li>

        <li class="top">
            <p><a href="javascript:scroll(0,0)">返回顶部</a></p>
        </li>
    </ul>
</div>
